*.json
*.xpr
*.wpc
*.lpr
*.wdf
*.xml
*.bat
*.log
*.wdb
*.prj
*.jou
*.pb
*.tcl
*.ini
*.dbg
*.mem
*.reloc
*.rlx
*.rtti
*.svtype
*.exe
*.type
*.xdbg
*.c
*.obj
*.info
*.html
*.sdb
*.wdm
*.wcfg
*.fs

Laboratorio_I/Ejercicio_III/MUX_4_1/MUX_4_1.sim/sim_1/behav/xsim/glbl.v
Laboratorio_I/Ejercicio_III/MUX_4_1/MUX_4_1.sim/sim_1/behav/xsim/xsim.dir/MUX_4_1_tb_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_III/MUX_4_1/MUX_4_1.sim/sim_1/behav/xsim/xsim.dir/MUX_4_1_tb_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_III/MUX_4_1/MUX_4_1.ip_user_files/README.txt
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.sim/sim_1/behav/xsim/xsim.dir/tb_Complemento_a_2_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_II/Switch_Button_Led/tb_Complemento_a_2_behav.wcfg
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.sim/sim_1/behav/xsim/xsim.dir/tb_Complemento_a_2_behav/Compile_Options.txt
dsim.env
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim.env
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/metrics.db
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/image.so
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/exports.def
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LBstd.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LMtb_Complemento_a_2.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LR.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/objfiles
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/ir.cache
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LBstd.sir
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LMtb_Complemento_a_2.sir
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LR.sir
Laboratorio_I/Ejercicio_V/ALU/ALU_TOP_TB_behav.wcfg
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/glbl.v
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_tb_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_tb_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_TB_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_TB_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/metrics.db
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/image.so
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/exports.def
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LBstd.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LMALU_tb.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LMALU_TOP_TB.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LR.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/objfiles
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/ir.cache
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LBstd.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LMALU_tb.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LMALU_TOP_TB.sir

Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LR.sir
dsim.env
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim.env
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/metrics.db
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/image.so
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/exports.def
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LBstd.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LMtb_Complemento_a_2.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LR.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/objfiles
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/ir.cache
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LBstd.sir
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LMtb_Complemento_a_2.sir
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LR.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/glbl.v
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_TB_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_TB_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_V/ALU/ALU_TOP_TB_behav.wcfg
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/metrics.db
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/image.so
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/exports.def
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LBstd.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LMALU_TOP_TB.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LR.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/objfiles
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/ir.cache
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LBstd.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LMALU_TOP_TB.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LR.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LMALU_tb.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LMALU_tb.o
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_tb_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_tb_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.sim/sim_1/behav/xsim/glbl.v
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.sim/sim_1/behav/xsim/xsim.dir/tb_Complemento_a_2_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.sim/sim_1/behav/xsim/xsim.dir/tb_Complemento_a_2_behav/TempBreakPointFile.txt
dsim.env
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim.env
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/metrics.db
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/image.so
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/exports.def
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LBstd.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LMtb_Complemento_a_2.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/LR.o
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/obj/objfiles
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/ir.cache
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LBstd.sir
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LMtb_Complemento_a_2.sir
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.srcs/dsim_work/sir/LR.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/glbl.v
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_tb_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_tb_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_TB_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.sim/sim_1/behav/xsim/xsim.dir/ALU_TOP_TB_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/metrics.db
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/image.so
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/exports.def
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LBstd.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LMALU_tb.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LMALU_TOP_TB.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/LR.o
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/obj/objfiles
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/ir.cache
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LBstd.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LMALU_tb.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LMALU_TOP_TB.sir
Laboratorio_I/Ejercicio_V/ALU/ALU.srcs/dsim_work/sir/LR.sir
metrics.db
waves.mxd
dsim_work/image.so
dsim_work/obj/exports.def
dsim_work/obj/LBstd.o
dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
dsim_work/obj/LMALU_tb.o
dsim_work/obj/LR.o
dsim_work/obj/objfiles
dsim_work/sir/ir.cache
dsim_work/sir/LBstd.sir
dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
dsim_work/sir/LMALU_tb.sir
dsim_work/sir/LR.sir
Laboratorio_II/Ejercicio_3/Ejercicio_3.sim/sim_1/behav/xsim/glbl.v
Laboratorio_II/Ejercicio_3/Ejercicio_3.sim/sim_1/behav/xsim/xsim.dir/tb_uart_behav/Compile_Options.txt
Laboratorio_II/Ejercicio_3/Ejercicio_3.sim/sim_1/behav/xsim/xsim.dir/tb_uart_behav/TempBreakPointFile.txt
Laboratorio_II/Ejercicio_3/Ejercicio_3.sim/sim_1/behav/xsim/xsim.dir/uart_behav/Compile_Options.txt
Laboratorio_II/Ejercicio_3/Ejercicio_3.sim/sim_1/behav/xsim/xsim.dir/uart_behav/TempBreakPointFile.txt
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/glbl.v
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/xsim.dir/tb_uart_behav/Compile_Options.txt
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/xsim.dir/tb_uart_behav/TempBreakPointFile.txt
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/image.so
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/exports.def
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/LBstd.o
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/LMtb_uart.o
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/LR.o
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/objfiles
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/ir.cache
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/LBstd.sir
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/LMtb_uart.sir
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/LR.sir
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/xsim.dir/uart_behav/TempBreakPointFile.txt
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/xsim.dir/uart_behav/Compile_Options.txt
Laboratorio_II/Ejercicio_III/manual_spi.v
Laboratorio_II/Ejercicio_IV/SPI/SPI.ip_user_files/README.txt
Laboratorio_II/Ejercicio_IV/SPI/SPI.sim/sim_1/behav/xsim/dump.vcd
Laboratorio_II/Ejercicio_IV/SPI/SPI.sim/sim_1/behav/xsim/glbl.v
Laboratorio_II/Ejercicio_IV/SPI/SPI.sim/sim_1/behav/xsim/xsim.dir/SPI_Master_TB_behav/Compile_Options.txt
Laboratorio_II/Ejercicio_IV/SPI/SPI.sim/sim_1/behav/xsim/xsim.dir/SPI_Master_TB_behav/TempBreakPointFile.txt
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/image.so
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/exports.def
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/LBstd.o
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/LMSPI_Master_TB.o
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/LR.o
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/objfiles
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/ir.cache
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/LBstd.sir
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/LMSPI_Master_TB.sir
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/LR.sir
Laboratorio_II/Ejercicio_III/manual_spi.v
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/glbl.v
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/xsim.dir/tb_uart_behav/Compile_Options.txt
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/xsim.dir/tb_uart_behav/TempBreakPointFile.txt
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/xsim.dir/uart_behav/Compile_Options.txt
Laboratorio_II/Ejercicio_III/UART/UART.sim/sim_1/behav/xsim/xsim.dir/uart_behav/TempBreakPointFile.txt
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/image.so
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/exports.def
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/LBstd.o
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/LMtb_uart.o
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/LR.o
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/obj/objfiles
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/ir.cache
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/LBstd.sir
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/LMtb_uart.sir
Laboratorio_II/Ejercicio_III/UART/UART.srcs/dsim_work/sir/LR.sir
Laboratorio_II/Ejercicio_IV/SPI/SPI.ip_user_files/README.txt
Laboratorio_II/Ejercicio_IV/SPI/SPI.sim/sim_1/behav/xsim/dump.vcd
Laboratorio_II/Ejercicio_IV/SPI/SPI.sim/sim_1/behav/xsim/glbl.v
Laboratorio_II/Ejercicio_IV/SPI/SPI.sim/sim_1/behav/xsim/xsim.dir/SPI_Master_TB_behav/Compile_Options.txt
Laboratorio_II/Ejercicio_IV/SPI/SPI.sim/sim_1/behav/xsim/xsim.dir/SPI_Master_TB_behav/TempBreakPointFile.txt
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/image.so
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/exports.def
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/LBstd.o
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.o
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/LMSPI_Master_TB.o
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/LR.o
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/obj/objfiles
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/ir.cache
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/LBstd.sir
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/LM0db15a258e15c91063c6b572753a502d4b30f18913971db5ce0b98898920926ba.sir
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/LMSPI_Master_TB.sir
Laboratorio_II/Ejercicio_IV/SPI/SPI.srcs/dsim_work/sir/LR.sir
