.vscode/settings.json
*.xpr
*.wpc
*.lpr
*.wdf
*.xml
*.bat
*.log
*.wdb
*.prj
*.jou
*.pb
*.tcl
*.ini
*.dbg
*.mem
*.reloc
*.rlx
*.rtti
*.svtype
*.exe
*.type
*.xdbg
*.c
*.obj
*.info
*.html
*.sdb
*.wdm

Laboratorio_I/Ejercicio_III/MUX_4_1/MUX_4_1.sim/sim_1/behav/xsim/glbl.v
Laboratorio_I/Ejercicio_III/MUX_4_1/MUX_4_1.sim/sim_1/behav/xsim/xsim.dir/MUX_4_1_tb_behav/Compile_Options.txt
Laboratorio_I/Ejercicio_III/MUX_4_1/MUX_4_1.sim/sim_1/behav/xsim/xsim.dir/MUX_4_1_tb_behav/TempBreakPointFile.txt
Laboratorio_I/Ejercicio_III/MUX_4_1/MUX_4_1.ip_user_files/README.txt
Laboratorio_I/Ejercicio_II/Switch_Button_Led/Switch_Button_Led.sim/sim_1/behav/xsim/glbl.v
