IO_LOC  "reset" 4;
IO_PORT "reset" IO_TYPE=LVCMOS33;

IO_LOC  "count_out[7]" 42;
IO_PORT "count_out[7]" IO_TYPE=LVCMOS33;

IO_LOC  "count_out[6]" 41;
IO_PORT "count_out[6]" IO_TYPE=LVCMOS33;

IO_LOC  "count_out[5]" 16;
IO_PORT "count_out[5]" IO_TYPE=LVCMOS33;

IO_LOC  "count_out[4]" 15;
IO_PORT "count_out[4]" IO_TYPE=LVCMOS33;

IO_LOC  "count_out[3]" 14;
IO_PORT "count_out[3]" IO_TYPE=LVCMOS33;

IO_LOC  "count_out[2]" 13;
IO_PORT "count_out[2]" IO_TYPE=LVCMOS33;

IO_LOC  "count_out[1]" 11;
IO_PORT "count_out[1]" IO_TYPE=LVCMOS33;

IO_LOC  "count_out[0]" 10;
IO_PORT "count_out[0]" IO_TYPE=LVCMOS33;

IO_LOC  "button_in" 3;
IO_PORT "button_in" IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33;
