IO_LOC "OUT[3]" 14;
IO_PORT "OUT[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "OUT[2]" 13;
IO_PORT "OUT[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "OUT[1]" 11;
IO_PORT "OUT[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "OUT[0]" 10;
IO_PORT "OUT[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "sel[1]" 4;
IO_PORT "sel[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "sel[0]" 3;
IO_PORT "sel[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_4[3]" 40;
IO_PORT "IN_4[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_4[2]" 35;
IO_PORT "IN_4[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_4[1]" 41;
IO_PORT "IN_4[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_4[0]" 42;
IO_PORT "IN_4[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_3[3]" 29;
IO_PORT "IN_3[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_3[2]" 30;
IO_PORT "IN_3[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_3[1]" 33;
IO_PORT "IN_3[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_3[0]" 34;
IO_PORT "IN_3[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_2[3]" 25;
IO_PORT "IN_2[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_2[2]" 26;
IO_PORT "IN_2[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_2[1]" 27;
IO_PORT "IN_2[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_2[0]" 28;
IO_PORT "IN_2[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_1[3]" 38;
IO_PORT "IN_1[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_1[2]" 37;
IO_PORT "IN_1[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_1[1]" 36;
IO_PORT "IN_1[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "IN_1[0]" 39;
IO_PORT "IN_1[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
