IO_LOC  "led" 10;
IO_PORT "led" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "switch[3]" 28;
IO_PORT "switch[3]" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "switch[2]" 27;
IO_PORT "switch[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "switch[1]" 26;
IO_PORT "switch[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "switch[0]" 25;
IO_PORT "switch[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
